@import "bootstrap/dist/css/bootstrap.min.css";

body{
      background: lab(100% 0.01 -0.01 / 0.733);
      padding: 2rem 3rem;
      text-align: center;
      
    
    }

    h1 {
      font-size: 2rem;
      margin: 5rem;
      color: #005f73;
    }

    #excuse {
      font-size: 1.2rem;
      font-style: italic;
      color: hsl(0, 81%, 27%);
      margin-top: 1rem;
    }